@import "colors.scss";

.screenArea {
  background-color: $very-dark-cyan;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 1.8rem;
  row-gap: 2rem;

  & > section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    .group {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        flex-direction: column;
        row-gap: 0.2rem;

        span:first-child {
          color: $light-grayish-cyan;
        }

        span:last-child {
          color: $grayish-cyan;
        }
      }

      p {
        display: flex;
        align-items: center;

        span {
          font-size: 2rem;
        }
        color: $strong-cyan;
      }
    }
  }

  .resetBtn {
    background-color: $strong-cyan;
    border-radius: 3px;
    border: none;
    color: $very-dark-cyan;
    cursor: pointer;
    padding: 0.6rem 0;
    transition: all 0.2s;
  }

  .resetBtn:hover,
  .resetBtn:focus {
    background-color: $light-grayish-cyan;
  }
}

@media screen and (min-width: 360px) {
  .screenArea {
    font-size: 1.4rem;

    & > section {
      .group {
        p {
          span {
            font-size: 2.1rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .screenArea {
    justify-content: space-between;

    & > section {
      .group {
        p {
          font-size: 3rem;
          span {
            font-size: 3rem;
          }
        }
      }
    }
  }
}
